@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-geist-mono);
  --font-heading: var(--font-sans);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
  --radius: 0.5rem;
  --background: oklch(0.979 0.007 287.045);
  --foreground: oklch(0.077 0.015 283.326);
  --muted: oklch(0.899 0.01 286.966);
  --muted-foreground: oklch(0.413 0.039 285.316);
  --popover: oklch(0.968 0.01 286.98);
  --popover-foreground: oklch(0 0 0);
  --card: oklch(0.968 0.01 286.98);
  --card-foreground: oklch(0 0 0);
  --border: oklch(0.922 0.001 287.142);
  --input: oklch(0.922 0.001 287.142);
  --primary: oklch(0.269 0.112 276.543);
  --primary-foreground: oklch(0.811 0.067 285.572);
  --secondary: oklch(0.864 0.006 287.044);
  --secondary-foreground: oklch(0.342 0.01 286.616);
  --accent: oklch(0.813 0.019 286.741);
  --accent-foreground: oklch(0.283 0.02 285.808);
  --destructive: oklch(0.46 0.187 29.398);
  --destructive-foreground: oklch(0.923 0.039 19.032);
  --ring: oklch(0.269 0.112 276.543);
  --chart-1: oklch(0.269 0.112 276.543);
  --chart-2: oklch(0.864 0.006 287.044);
  --chart-3: oklch(0.813 0.019 286.741);
  --chart-4: oklch(0.888 0.005 287.07);
  --chart-5: oklch(0.267 0.117 275.678);

  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --radius: 0.5rem;
  --background: oklch(0 0 0);
  --foreground: oklch(0.982 0.003 287.119);
  --muted: oklch(0.225 0.014 285.968);
  --muted-foreground: oklch(0.711 0.034 286.264);
  --popover: oklch(0.092 0 180);
  --popover-foreground: oklch(0.991 0.001 287.145);
  --card: oklch(0.092 0 180);
  --card-foreground: oklch(0.991 0.001 287.145);
  --border: oklch(0.257 0.003 286.98);
  --input: oklch(0.257 0.003 286.98);
  --primary: oklch(0.269 0.112 276.543);
  --primary-foreground: oklch(0.811 0.067 285.572);
  --secondary: oklch(0.293 0.021 285.789);
  --secondary-foreground: oklch(0.821 0.018 286.767);
  --accent: oklch(0.364 0.042 284.902);
  --accent-foreground: oklch(0.895 0.014 286.878);
  --destructive: oklch(0.617 0.252 29.334);
  --destructive-foreground: oklch(1 0 180);
  --ring: oklch(0.269 0.112 276.543);
  --chart-1: oklch(0.269 0.112 276.543);
  --chart-2: oklch(0.293 0.021 285.789);
  --chart-3: oklch(0.364 0.042 284.902);
  --chart-4: oklch(0.321 0.024 285.739);
  --chart-5: oklch(0.267 0.117 275.678);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}
